.dashboard-container {
	display: grid;
	align-content: flex-start;
	gap: 50px;
	box-sizing: border-box;
	padding: 30px;
	height: 100vh;
	background-color: rgba(255, 255, 0, 0.5);
}

.dashboard-header {
	display: grid;
	grid-template-columns: auto auto;
}

.dashboard-content {
	display: grid;
	justify-items: center;
}

@media all and (max-width: 500px) {
	.dashboard-container {
		padding: 30px;
	}
}
