.loader-container {
	display: grid;
	align-content: center;
	justify-content: center;
	box-sizing: border-box;
	height: 100vh;
}

.loader {
	border: 10px solid #fff;
	border-top: 10px solid rgb(75, 192, 192);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.dashboard-container {
	display: grid;
	align-content: flex-start;
	gap: 50px;
	box-sizing: border-box;
	padding: 30px;
	height: 100vh;
}

.dashboard-header {
	display: grid;
	grid-template-columns: auto auto;
}

.dashboard-content {
	display: grid;
	justify-items: center;
}

@media all and (max-width: 500px) {
	.dashboard-container {
		padding: 30px;
	}
}
