.bills-container {
	display: grid;
	align-content: flex-start;
	gap: 50px;
	box-sizing: border-box;
	padding: 30px;
	height: 100vh;
}

.bills-header {
	display: grid;
	grid-template-columns: auto auto;
}

.bills-content {
	display: grid;
	gap: 20px;
}
